@import "./normalize.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, button {
  font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.App {
  background: url('../assets/img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  color: black;
}
